/*Clearfix*/
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*Box-sizing*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*Responsive Images*/
img {
  max-width: 100%;
  height: auto; }

.assistive-text {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

#public {
  background: none; }

form.wufoo {
  padding: 0; }

.wufoo {
  font: 1em/1.8 "Open Sans","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .wufoo .info {
    display: none;
    border-bottom: 0;
    padding: 0 0 1em; }

form.wufoo li span {
  display: block;
  margin-bottom: 2em; }
  @media (min-width: 600px) {
    form.wufoo li span {
      float: left;
      width: 47.5%;
      margin-bottom: 0;
      margin-right: 0; }
      form.wufoo li span:first-of-type {
        margin-right: 5%; } }

form li.buttons {
  padding: 1em 0; }

.wufoo li.focused {
  background: #efefef; }

input[type="text"],
input[type="email"],
textarea,
input.text,
textarea.textarea {
  display: block;
  width: 100%;
  border: 1px solid #a3a7a8;
  padding: 0.5em;
  background: #fff; }

input[type="submit"] {
  display: inline-block;
  background: #00467f;
  border-radius: 0.25em;
  border: 0;
  color: #fff;
  font-size: 0.8125em;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  font-family: "myriad-pro",sans-serif;
  border-bottom: 2px solid #000e19; }
  input[type="submit"]:hover {
    background: #002a4c;
    color: #fff; }
