.search-form {
	position: relative;
	padding: 1em;
	.search-field {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		width: 95%;
		margin: 0 auto;
		@include bp(480) {
			width: 75%;
		}
		@include bp(700) {
			right: 2.5%;
			left: auto;
			width: 100%;
			max-width: 20em;
		}
	}
	input {
		padding: 0.5em;
		width: 100%;
		font-size: 0.8em;
		display: block;
		background-color: transparent;
		position: relative;
		z-index: 2;
		border: 1px solid $gray;
	}
	label {
		font-size: 0.85em;
		padding-right: 0.5em;
		position: absolute;
		z-index: 1;
		top: 0.25em;
		left: 0.55em;
		color: $gray;

	}
}
section {
	position: relative;
	width: 95%;
	margin: 1em auto 2em;
	@include bp(700) {
		padding-top: 2em;
		background: $blue;
	}
	@include bp(1000) {
		padding-top: 2.5em;
	}
}
.table-container {
	table {
		border-spacing: 0;
		width: 100%;
	}
	td + td {
		border-left:1px solid $gray;
	}
	td, th {
		border-bottom:1px solid $gray;
		background: white;
		color: $black;
		padding: 10px 25px;
	}
}
.alumni-list {
	tbody,
	thead {
		width: 100%;
	}
	thead {
		display: none;
		@include bp(700) {
			display: table-header-group;
		}
	}
	th,
	td {
		border-right: 1px solid $gray;
		padding: 0.5em;
		&:last-child {
			border-right: none;
		}
	}
	.titles,
	.users {
		position: relative;
		td {
			&:before {
				font-weight: 700;
				width: 35%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
			   padding: 1em 0 1em 1%;
				display: block;
				border-right: 1px solid darken( $light-gray, 10%);
				background: $light-gray;
				color: $black;
				letter-spacing: 1px;
				@include bp(480) {
					width: 25%;
				}
			}
		}
		.first-name {
			&:before {
				content: 'First Name';
			}
		}
		.last-name {
			&:before {
				content: 'Last Name';
			}
		}
		.email {
			&:before {
				content: 'Email';
			}
		}
		.city {
			&:before {
				content: 'City';
			}
		}
		.state {
			&:before {
				content: 'State';
			}
		}
		.holy-ambition {
			padding-bottom: 0.15em;
			border-bottom: none;
			&:before {
				content: 'Holy Ambition';
			}
		}
		@include bp(700) {
			td {
				&:before {
					display: none;
				}
			}
			.first-name,
			.first-name div {
				width: 10%;
			}
			.last-name,
			.last-name div {
				width: 15%;
			}
			.email,
			.email div {
				width: 15%;
			}
			.city,
			.city div {
				width: 10%;
			}
			.state,
			.state div {
				width: 10%;
			}
			.holy-ambition,
			.holy-ambition div {
				width: 40%;
			}
			.holy-see-more {
				display: block;
				@include bp(700) {
					display: none;
				}
			}
		}
	}
	.titles {
		th {
			font-size: 0.75em;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1em;
			height: 0;
			line-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			color: transparent;
			border: none;
			white-space: nowrap;
			&:first-child div{
				border: none;
			}
			@include bp(1000) {
				font-size: 1em;
			}
			svg {
				color: white;
				position: absolute;
				right: 0.5em;
				top: 0.75em;
			}
			div {
				padding: 0;
				position: absolute;
				background: transparent;
				color: #fff;
				padding: 0.6em 0;
				top: 0;
				margin-left: -0.5em;
				line-height: normal;
				border-left: 1px solid $gray;
			}
		}
		.header {
			.icon-sort {
				display: block;
			}
			&.headerSortUp {
				.icon-sort,
				.icon-sort-asc {
					display: none;
				}
				.icon-sort-desc {
					display: block;
				}
			}
			&.headerSortDown {
				.icon-sort,
				.icon-sort-desc {
					display: none;
				}
				.icon-sort-asc {
					display: block;
				}
			}
		}
	}
	.users {
		border: 1px solid darken( $light-gray, 10%);
		@include bp(700) {
			border-bottom: 1px solid darken( $light-gray, 10%);
			border-top: none;
		}
		&:nth-child(even) {
			td:before {
				background: darken($light-gray, 5%);
			}
		}
		td {
			padding: 0.75em 0 0 38%;
			font-size: 0.7em;
			width: 100%;
			display: block;
			min-height: 38px;
			border: none;
			position: relative;
			border-bottom: 1px solid darken( $light-gray, 10%);
			@include bp(480) {
				padding: 0.75em 0 0 27%;
			}
			@include bp(700) {
				padding: 0.5em;
				border-right: 1px solid darken( $light-gray, 10%);
				font-size: 0.85em;
				display: table-cell;
			}
		}
		.holy-ambition-full {
			width: 80%;
			display: none;
			padding: 2em;
			height: auto;
			position: fixed;
			border: 1px solid $gray;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			z-index: 101;
			font-size: 0.8em;
			@include bp(800) {
				width: 55%;
				font-size: 1em;
			}
			@include bp(1280) {
				width: 45%;
			}
			h2 {
				font-weight: 700;
				margin: 0;
				padding-bottom: 0.5em;
			}
		}
	}
}
.more-ha {
	position: absolute;
	bottom: -0.1em;
	right: 0.15em;
	@include bp(700) {
		position: relative;
   	bottom: auto;
   	right: auto;
   	padding-left: 0.5em;
	}
	&:focus {
		outline: none;
	}
	span {
		display: none;
		@include bp(700) {
			display: inline;
		}
	}
}
.close {
	position: absolute;
	bottom: auto;
	right: 0.875em;
	top: 0.5em;
}
.sticky-nav {
	display: none;
	padding: 0;
	margin: 0 auto;
	width: 95%;
	list-style: none;
	border: 1px solid $gray;
	li {
		float: left;
		width: 20%;
		padding: 0.5em 0;
		background: $blue;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		border-right: 1px solid $gray;
		&:nth-child(3n),
		&:nth-child(4n){
			width: 15%;
		}
		&:nth-child(5n) {
			width: 30%;
			border-right: none;
		}
	}
	&.is-sticky {
		display: block;
	}
}
