.next-steps {
	background: #efefef;
	text-align: center;
	@include bp(700) {
		text-align: left;
	}
	img {
		margin: 0;
		max-width: 4em;
		@include bp(700) {
			float: left;
			margin: 0 3em 1em 0;
			max-width: 100%;
		}
	}
}
.dashboard-links {
	margin: 0;
	padding: 1em;
	ul {
		list-style: none;
		margin: 1em 0 0;
		padding: 0;

	}
	li {
		display: inline-block;
		margin: 0.5em 0;
		@include bp(700) {
			margin: 0 1em 0.5em 0;
		}
		@include bp(1000) {
			margin: 0 1em 1em 0;
		}
		&:first-of-type {
			a {
				background: $black;
				color: #fff;
				&:hover {
					background: darken($blue, 10%);
					color: #fff;
				}
			}
		}
	}
	a {
		display: block;
		background: darken(#efefef, 20%);
		color: $black;
		font-weight: normal;
		text-decoration: none;
		padding: 0.25em 1.25em 0.25em 0.75em;
		svg {
			vertical-align: middle;
			margin: -1px 0.5em 0 0;
		}
		&:hover {
			background: darken($blue, 10%);
			color: #fff;
		}
	}
	h3 {
		margin: 0 0 0.5em;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: normal;
		font-size: 1.75em;
		color: $black;

	}
}
.dash-header {
	border-bottom: 0.15em solid $gray;
	h1 {
		font-size: 1.75em;
	}
}
.news-item {
	font-size: 0.75em;

	padding: 0 0 2em;
	border-bottom: 0.25em solid darken($blue, 5%);
	margin: 1em 1em 2em;
	h4 {
		line-height: 1.25;
		color: #fff;
	}
	.btn {
		border-bottom: 0;
		padding: 0.5em 1em
	}
	p {

	}
}
.dashboard-intro {
	background: #fff;
	padding: 1.5em 0.5em;
	font-size: 1.1em;
	h3 {
		padding: 0;
		font-size: 1.75em;
	}
}
.sm-wrap {
	position: relative;
	width: 90%;
	max-width: 40em;
	margin: 0 auto;
	@include bp(800) {
		width: 100%;
	}
}
.intro-video {
	text-align: center;
}
.admin-note {
	background: transparentize($blue, 0.8);
	padding: 0.25em 0.5em;
	font-weight: normal;
	text-align: center;
}
