.staff-excerpt {
	padding-bottom: 1em;
	border-bottom: 1px solid $gray;
	h3 {
		margin: 0;
	}
	h4 {
		margin-top: 0;
		display: block;
		font-size: 1em;
		font-weight: 300;
		font-style: italic;
	}

}