.subnav-toggle {
	display: block;
	text-align: center;
	margin: 1em auto 2em;
	border: 1px solid $btn-blue;
	text-transform: uppercase;
	border-radius: 0.25em;
	font-size: 0.8125em;
	padding: 0.5em 1.5em;
	text-decoration: none;
	font-family: "myriad-pro",sans-serif;
	@include bp(700) {
		display: none;
	}
}
.sub-navigation {
	display: none;
	margin-bottom: 2em;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,0.05);
		&:last-child {
			border-bottom: 0;
		}
		@include bp(700) {
			margin-right: 2em;
		}
	}
	a {
		display: block;
		padding: 1em 0.5em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: normal;
		&:hover {
			background: #ccc;
			background: rgba(0,0,0,0.05);
			font-weight: bold;
			color: $blue;
		}

	}
	.current-menu-item {
		border: 0;
		a {
			background: $light-gray;
			font-weight: bold;
			color: $blue;
			position: relative;
			/*&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -1.9em;
				width: 0;
				height: 0;
				border-top: 1.9em solid transparent;
				border-bottom: 1.9em solid transparent;
				border-left: 1.9em solid #ccc;
				border-left: 1.9em solid rgba(0,0,0,0.05);
			}*/
		}
	}
	.back {
		background: #ccc;
		background: rgba(0,0,0,0.05);
		font-weight: bold;
		color: $blue;
		position: relative;
		margin-left: 2em;
		display: block;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: -1.85em;
			width: 0;
			height: 0;
			border-top: 1.9em solid transparent;
			border-bottom: 1.9em solid transparent;
			border-right: 1.9em solid #ccc;
			border-right: 1.9em solid rgba(0,0,0,0.05);
		}
	}
	@include bp(700) {
		display: block !important;
	}
}